@charset "UTF-8";
body{box-sizing: border-box; min-height: 100%; width: 100%; margin: 0; padding: 0; font-family: 'Sawarabi Gothic', sans-serif;}
main{ display: inline-block; background-color: whitesmoke;}
header {margin:0 150px;box-sizing: border-box; height: 100%; padding: 0;}
a, div.notice-title, div.notice-item{text-decoration:none;}
/*Header*/
.hd-menu{display: block;height: 51px;}
.logo-con{top: 20px;box-sizing:border-box;width: 120px;position: absolute;height: 30px;display: inline-block;}
.logo-con-link{width: 100%;height: 100%;bottom: 10px; position: relative;display: inline-block; font-size: 18px; font-style: 800; text-align: center;}
.func_con{padding: 0 5px;position:relative;float: right;}

.notice-btn,.ordersearch-btn{position: relative;display:flex;float: left;text-align: center;font-size: 14px;margin: 0 10px;top: 20px;}
.account-con{bottom: 10px;float: right;font-size: 16px;}

.register-btn a,.login-btn a{color: black;position: relative;text-align: center;top: 5px;padding: 0px 10px;}
.account-button {color: black;line-height: 50px; }
.account-button:hover {color: slateblue;}
.nav-con{width: 100%;height: 100%;position: relative;display: inline-flex;}
/*クチコミだけ右側に線がいないため*//*ulの丸を消す*/
.nav-item{padding: 0 10px 0 10px; list-style:none;/* position: absolute; */text-align: left;display: table-cell;font-size: 18px;padding-bottom: 3px;border-right: 1px solid black;}
.nav-item a{color: black; font-weight: 600;}
.nav-item a:hover{color: slateblue;}
.nav-item:hover{border-bottom: 1px solid slateblue;padding-bottom: 2px;}
.nav-link.active{color: #fff; color: slateblue; border-bottom: 3px solid slateblue;}
/*border用*/
#nav-hotel{border-left: 1px solid black; padding-left: 10px;}

footer{width:100%;height:100px;bottom:0; text-align: center; position: relative; background-color: lightgray; color: black;}
